:root{
    --fundo:#e4d4bf;
    --cartão-frente:#66CDAA;
    --cartão-verso:#7FFFD4;
    --destaque:#9768ee;
    --preto:#000000;
    --branco:#DCDCDC;
}

body{
    background-color: var(--fundo);
}