:root{
    --fundo:#f0cfa5;
    --cartão-frente:#66CDAA;
    --cartão-verso:#7FFFD4;
    --destaque:#9768ee;
    --preto:#000000;
    --branco:#DCDCDC;
}

body{
    background-color: var(--fundo);
}
footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;
}